////////////// Version 1.0
/ .currentTeam
/   %h1= "#{@team.age_group} #{@team.title} Football Team"
/   %p
/     Current number of players:
/     = @team.num_of_players

%p Rendered teams/_team.html.haml
