= render 'layouts/nav_controls'

- if @active_team.present?
  = render 'active'

- else
  %h1= "The program director has been notified you signed up, "
  %h1= "and a team will be assigned to you shortly"
