= render 'layouts/nav_controls'

%section#currentTeam
  - if @active_team.present? || current_user.teams.empty?
    .conceal-players
      %span#close.back â† close
    %br/
    %ul#tp-grid.tp-grid
      .teamBanner

  - else
    %h1= "No team currently active"
