.content-container
  .row
    %section#top_third

      %h2 Dashboard graphic

  .row#middle_third
    %h2 Dashboard buttons
    .col-md-3.col-xs-6
      = link_to 'team manager', team_manager_path, class: 'manager-button'
    .col-md-3.col-xs-6
      = link_to 'schedule manager', schedule_manager_path, class: 'manager-button'
    .col-md-3.col-xs-6
      = link_to 'office manager', office_manager_path, class: 'manager-button'
    .col-md-3.col-xs-6
      = link_to 'coaches\' corner', coaches_corner_path, class: 'manager-button'


  .row
    %section#bottom_third

      %h2 new icon-bar





