%h2
  = "Welcome #{@current_user.email} to the Dashboard"

%section.sideControls.red_border
  #newTeamButton New Team

  #new_team_form

    = render "teams/new"

  %br
  .clear

  = link_to "Add New Player", new_player_path, id: "addNewPlayerButton"
#created_team




