@import 'mixins';
@import 'color_chart';


/*All Forms*/

.default-form-template {
  @include default_forms;
}

div.form-wrapper {
  margin-top: 5px;
  position: relative;
}

.form-pointer-default {
  content: ' ';
  border: 25px solid;
  width: 0px;
  margin: 0 0 -16px 18px;
  border-color: #FFF transparent transparent transparent;
  -ms-transform:rotate(180deg); /* IE 9 */
  -webkit-transform:rotate(180deg); /* Opera, Chrome, and Safari */
  transform:rotate(180deg);
  position: relative;
  z-index: 2;
  margin-top: -23px;
}

div#error_explanation {
  background-color: #F00;
  color: #FFF;
  text-align: center;
  margin-top: -26px;
  border-radius: 10px;
  h2 {
    color: #FFF;
  }
}


.field_with_errors {
  input {
    border: 1px solid red;
  }
  label {
    color: red;
  }
}

/*Sign-Up*/

div.signup-signin {
  margin-bottom: -21px;
}


/* Sign In / Up Links */

a.sign_in_link {
  float: left;
  margin-top: 40px;
}