= render 'programs/nav_controls_director'

%h1
  %span= @programs.town_name.capitalize
  %span= @programs.team_name.capitalize
  %h3 Youth Football Program

%h3 Year founded:

%h3 Founding Members:

= link_to 'add founders', '#'


%h4 TODO:
%p List program Info here
%p List all board members here

%p Program - CRUD..update, cancel program == cancel account
