= render 'director_navigation/main_side_panel'

%section#program-contents
  %section.program-section
    %h3
      Program:
      %span= full_team_name
    %br

    = link_to "Edit Team Info", edit_program_path(@program.id), class: 'btn btn-warning'
    = link_to "Add Team Logo", logo_path(@program.id), class: 'btn btn-warning'

  %section.program-section


  %section.program-section
    %h3 Board members:
  %section.program-section
    %h3 Founders:
    %h4 CRUD List founders here





