%section#user-content

  %h1 Users
  %p
    = "User count #{@users.count}"
    %br/


  %section#coach-tile-panel.user-section
    %header#coaches
      %h4 Coaches
      =link_to "Grant Coaching Access"

    #coaches-grid
      - @head_coaches.each do |coach|
        .coach-tile
          = coach.username







  %section.user-section
    %h3 Staff:
    %h4 Staff CRUD links

  / %section.user-section
  /   %h3 General public:
  /   %h4 CRUD List all board members here

  / %section.user-section
  /   %h3 Founders:
  /   %h4 CRUD List founders here
