%section.text-center
  .container
    .row
      .col-md-12
        %h1.arrow Frequently Asked Questions

        #faq_page
          %dl
            %dt
              What are your hours?
            %dd
              We are open 24/7
            %dt
              What are your hours?
            %dd
              We are open 24/7
            %dt
              What are your hours?
            %dd
              We are open 24/7
            %dt
              What are your hours?
            %dd
              We are open 24/7
            %dt
              What are your hours?
            %dd
              We are open 24/7