= render 'director_navigation/main_side_panel'

/ %section.event-section
%h1 This feature is not implemented yet...
  / %h2 TODO:
  / %h4 List and Manage all program events here
  / %h4 Event - CRUD
  / %h4 Event management docs - CRUD
