/*//////////////////////////////
/     SASS COLOR PALETTE      /
////////////////////////////*/

/*Global variables*/

$nav-bg-color:       #333333;
$base-gray:          #E1E1E1;
$base-text:          #B2B2B2;
$go-green:           #76cc66;
$go-green-plus20:    darken($go-green, 10%);

$go-aqua:            #bbe9df;


$line-break-dark:    #272727;