/*////////////////////////////////////////////////////
/                  DASHBOARD STYLE                  /
//////////////////////////////////////////////////*/

.content-container {
/*  margin-left: 60px;
  margin-right: -60px;*/
}

.manager-button {
  width: 175px;
  height: 175px;
  border: 1px solid #999;
  border-radius: 100px;
  display: block;
  cursor: pointer;
}


















/*version 1.0*/
/*//////////////////////////////
/     SIDE PANEL CONTROLS     /
////////////////////////////*/

/*#sideControls{
  float: left;
  background-color: #DDD;
  width: 220px;
  padding: 20px 0px 20px 10px;
  a.control_button {
    border: 2px solid #999;
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 10px;
    width: 140px;
    background-color: #FFF;
  }
}*/

/* TODO: create mixin to standardized buttons*/
/*.control_button,
#allTeamsButton,
#addNewTeamButton,
#cancelNewTeamForm,
#closeAllTeamsView {
  border: 2px solid #999;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 10px;
  width: 140px;
  background-color: #FFF;
}*/








