@import 'mixins';


.home-index-marquee {
  background: url('Football-helmuts.jpg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover !important;
  position: relative;
  width: 100%;
  text-align: center;
  @include light_box_shadow;
  #app-content {
    border: none !important;
  }
  h1 {
    color: #FFF;
    font-size: 65px;
  }
  p {
    color: #FFF;
    font-size: 25px;
  }
}

/*.benefit_box {
  @include default_panel;
  height: 200px;
}*/