@import 'mixins';


.home-index-marquee {
  background: url('Football-helmuts.jpg') no-repeat center center fixed !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover !important;
  /*height: 75% ;*/
  #app-content {
    border: none !important;
  }
  h1 {
    color: #FFF;
    font-size: 65px;
  }
  p {
    color: #FFF;
    font-size: 25px;
  }
}

/*.benefit_box {
  @include default_panel;
  height: 200px;
}*/