@import 'mixins';
@import 'color_chart';

div#hero-intro {
  background-color: rgba(255, 255, 255, 0.7)
}

.animated.fadeInUp.delay-1s.billboard-signup {
  padding: 15px 0 30px 0;
}

a#home-sign-in-button {
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  float: right;
  background-color: $go-green-15;
  padding: 5px;
  width: 120px;
  text-align: center;
  font-size: 22px;
  margin-top: 25px;
  color: #FFF;
  &:hover {
    background-color: $go-green;

  }
}

a.btn.btn-warning.billboard-signup-button.no_ajaxify {
  width: 400px;
  font-size: 2em;
  font-weight: bold;
  border: 2px solid;
  text-transform: uppercase;
  box-shadow: 0px 0px 16px;
  padding: 16px;
}

#hero:first-child {
/*  position: relative;
  margin-top: 90px;
  z-index: -1;*/
}

section#benefits-summary {

}

section.benefit {
  float: left;
  width: 100%
}

div#benefit-container {
  padding-left: 70px;
  float: left;
  position: relative;
  z-index: -1;
}

div.benefit_box,
div.benefit_description {
  width: 300px;
  float: left;
  margin: 10px;
  padding: 12px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.7);
  .header h3 {
    background-color: #F00;
    margin-top: -12px;
    margin-left: -12px;
    width: 300px;
    padding: 10px;
    color: #FFF;
    letter-spacing: 1px;
    font-weight: bold;
  }
  p {
    padding: 10px;
  }
}

div.benefit_description .header h3 {
  background-color: #F00;
  margin-top: -12px;
  margin-left: -12px;
  width: 300px;
  padding: 10px;
  color: #FFF;
  letter-spacing: 1px;
  font-weight: bold;
}

div.benefit_description .header img {
  width: 343px;
  overflow: hidden;
  margin: -12px 0px 0px -35px;
}

/*FAQ Section*/

#faq_page {
  width: 500px;
  margin: auto;
  text-align: center;

}

dl {

}

dt {
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
  font-size: 2em;
  color: #FFF;
  border-top: 1px solid $steel-light-40;
  border-bottom: 1px solid $steel-light-65;
  background-color: $steel-light-25;
  text-align: center;
  padding: 8px 0;
}

dd {
 padding: 1em 0;
}

dt:first-child {border-top: none; }
dt:nth-last-child(2) { border-bottom: none; }

.hide_dd { display: none }






