/*////////////////////////////////////////////////////
/              SITE WIDE NAVIGATION                 /
//////////////////////////////////////////////////*/
@import 'color_chart';
@import 'mixins';

/*nav a {
  position: relative;
  display: inline-block;
  margin: 15px 25px;
  outline: none;
  color: #999;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255,255,255,0.3);
  font-size: 1.35em;
}*/

nav a:hover,
nav a:focus {
  outline: none;
  text-decoration: none;
}

/*////////// Top Level Navigation ///////////*/

.navbar-title {
  margin-left: 300px;
  width: 700px;
}

.navbar-brand img {
  margin-top: -25px;
}

#logo-place-holder {
  background-image: asset-data-url('paper4.png');
  padding: 10px;
  margin-top: -30px;
  text-align: center;
  cursor: pointer;
  transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  transform: translateY(0) scale(0.95, 0.95);
}

#logo-place-holder.active {
  box-shadow: 0 11px 18px rgba(0,0,0,0.2);
  transform: translateY(-20px) scale(1, 1);
}

ul#acct-actions {
  position: fixed;
  top: 20px;
  right: 0;
  margin-right: 13px;
  margin-top: -18px;
  .setup-gear {
    color: $steel-light-40;
    &:hover {
      color: $steel-light-20;
    }
  }
}

/*i.fa.fa-gear.setup-gear.fa-5x {
color: #F00;
}*/

a#acct-action-symbol {
  background-color: #FFF;
  margin-top: 12px;
  padding: 0;
}


.mini-manager-buttons {
  text-decoration: none !important;
  color: darken( $go-green, 10% );
}

#on-page-nav {
  margin-left: -30px;
  .row{
    .col-md-3 {
      width: 20%;
    }
  }
}

.inner-nav-links {
  width: 800px;
}

.inner-nav-links a {
  padding: 0 0 10px;
}

.inner-nav-links a::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background: $go-green;
  content: '';
  opacity: 0;
  -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
  transition: height 0.3s, opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
}

.inner-nav-links a:hover::after,
.inner-nav-links a:focus::after {
  height: 5px;
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}




/*////////// Side Navigation Layout ///////////*/

.container {
  /*padding: 80px;*/
  padding-top: 0px;
}

.bt-menu,
.btn-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  border-width: 0px;
  border-style: solid;
  border-color: $steel-light-10;
  background-color: rgba(0,0,0,0);
  z-index: 2;
  -webkit-backface-visibility: hidden;
  -webkit-transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
  transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
}

.bt-menu.bt-menu-open {
  height: 100%;
  border-width: 0px 0px 90px 215px;
  -webkit-transition: border-width 0.3s, background-color 0.3s;
  transition: border-width 0.3s, background-color 0.3s;
  z-index: 2;
}

.bt-overlay,
.btn-overlay {
  position: absolute;
  width: 100%;
}

.bt-menu-open .bt-overlay,
.btn-menu-open .btn-overlay {
  height: 100%;
}

.bt-menu-trigger {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 100;
  display: block;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.bt-menu-trigger span,
.btn-menu-trigger span {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  height: 8%;
  background-color: $base-text;
  font-size: 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.bt-menu-trigger span:before,
.btn-menu-trigger span:before,
.bt-menu-trigger span:after,
.btn-menu-trigger span:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: $base-text;
  content: '';
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.bt-menu-trigger span:before,
.btn-menu-trigger span:before {
  -webkit-transform: translateY(-250%);
  transform: translateY(-250%);
}

.bt-menu-trigger span:after,
.btn-menu-trigger span:after {
  -webkit-transform: translateY(250%);
  transform: translateY(250%);
}

.bt-menu-open .bt-menu-trigger span:before {
  -webkit-transform: translateY(-300%);
  transform: translateY(-300%);
}

.bt-menu-open .bt-menu-trigger span:after {
  -webkit-transform: translateY(300%);
  transform: translateY(300%);
}

.bt-menu ul {
  position: fixed;
  margin: 0;
  padding: 0;
  list-style: none;
}

.bt-menu ul:first-of-type {
  top: 71px;
  left: 0;
}

.bt-menu ul:nth-of-type(2) {
  right: 0;
  bottom: 0;
}

.bt-menu ul li,
.bt-menu ul li a {
  display: block;
}

.bt-menu ul:nth-of-type(2) li {
  float: left;
  font-size: 0px;
}

.bt-menu ul li {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
  transition: transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
}

.bt-menu.bt-menu-open ul:first-of-type li,
.bt-menu.bt-menu-open ul:nth-of-type(2) li {
  visibility: visible;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s 0.1s;
  transition: transform 0.3s, opacity 0.3s;
}

/* First menu */
.bt-menu ul:first-of-type li {
  width: 215px;
  height: 50px;
  line-height: 50px;
  -webkit-transform: translate3d(-100%,50%,0);
  transform: translate3d(-100%,50%,0);
}

.bt-menu.bt-menu-open ul:first-of-type li {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/* Second menu */
.bt-menu ul:nth-of-type(2) li {
  width: 60px;
  height: 50px;
  line-height: 50px;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li:first-child {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(2) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(3) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(4) {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.bt-menu ul li a {
  display: block;
  outline: none;
  text-decoration: none;
}

.bt-menu ul:first-of-type li a {
  padding: 0 20px;
  box-shadow: inset 0 1px rgba(0,0,0,0.2);
  color: $steel-light-40;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1em;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.bt-menu ul:first-of-type li:last-child a {
  box-shadow: inset 0 1px rgba(0,0,0,0.2), inset 0 -1px rgba(0,0,0,0.2);
}

.bt-menu ul:nth-of-type(2) li a {
  color: transparent;
  text-align: center;
  font-size: 0px;
}

.bt-menu ul li a:before {
  color: #fff;
  font-size: 24px;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.bt-menu ul:first-of-type li a:hover,
.bt-menu ul:first-of-type li a:focus,
.bt-menu ul li a:hover:before,
.bt-menu ul li a:focus:before {
  color: #FFF; /* FIND: side link color on hover */
}

.add-high-light {
  box-shadow: inset 0 1px rgba(255, 255, 255, 1);
}

/*//////////////////////////////
/          CUSTOM             /
////////////////////////////*/

/* FIND: Menu text above menu lines*/
#bt-menu > a {
  text-decoration: none;
}

#bt-menu > a > p {
  color: $base-text;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 9px;
  &:hover {
    text-decoration: none;
  }
}

.new-player-side-link,
#new-team-side-link,
#edit-team-side-link {
  color:  $steel;
  &:hover {
    color: #FFF;
  }
}

.new-player-side-link {
  color: #FFF !important;
}

.bottom-hilight {
  border-right: 10px solid $steel-light-40;
}

.bottom-hilight-reverse {
  border-right: 10px solid $steel-light-25;

}

/* FIND: the help logo*/
/*.btn-menu-trigger {
  &:hover {
    #get-help-flag {
      text-decoration: none !important;
      z-index: 99;
      opacity: 1;
      -moz-transition: opacity .33s ease-in-out;
      -webkit-transition: opacity .33s ease-in-out;
      transition: opacity .33s ease-in-out;
      .blurb{
        text-decoration: none !important;
        color: darken( $go-green, 10% );
      }

    }
  }
}*/

/*//////////////////////////////
/         BOTTOM NAV          /
////////////////////////////*/



.btn-menu.btn-menu-open {
  height: 100%;
  border-width: 0px 0px 90px 0px;
  -webkit-transition: border-width 0.3s, background-color 0.3s;
  transition: border-width 0.3s, background-color 0.3s;
  z-index: 2;
}

.btn-menu-trigger {
  position: fixed;
  bottom: 22px;
  left: 50%;
  z-index: 100;
  display: block;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.btn-menu-open .btn-menu-trigger span {
  background-color: #FFF;
}

.btn-menu-open .btn-menu-trigger span:before,
.btn-menu-open .btn-menu-trigger span:after {
  background-color: #FFF;
}

.btn-menu-open .btn-menu-trigger span:before {
  -webkit-transform: translateY(-350%);
  transform: translateY(-350%);
}

.btn-menu-open .btn-menu-trigger span:after {
  -webkit-transform: translateY(350%);
  transform: translateY(350%);
}

.btn-menu ul {
  position: fixed;
  bottom: 105px;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  text-align: center;
  white-space: nowrap;
  height: 0;
  -webkit-transition: height 0s 0.3s;
  transition: height 0s 0.3s;
}

.btn-menu.bt-menu-open ul {
  height: 90px;
  -webkit-transition: none;
  transition: none;
}

.btn-menu ul li,
.btn-menu ul li a {
  text-align: center;
}

.btn-menu ul li {
  display: inline-block;
  margin: 0 2%;
  width: 5%;
  height: 90px;
  line-height: 90px;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.btn-menu ul li:nth-child(3) {
  margin-right: 70px;
}

.btn-menu ul li:nth-child(4) {
  margin-left: 70px;
}

.btn-menu.btn-menu-open ul li {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.btn-menu.btn-menu-open ul li:first-child,
.btn-menu.btn-menu-open ul li:last-child {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.btn-menu.btn-menu-open ul li:nth-child(2),
.btn-menu.btn-menu-open ul li:nth-last-child(2) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.btn-menu.btn-menu-open ul li:nth-child(3),
.btn-menu.btn-menu-open ul li:nth-last-child(3) {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

.btn-menu ul li a {
  display: block;
  outline: none;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.15em;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.btn-menu ul li a:before {
  display: none;
  font-size: 32px;
}

.btn-menu ul li a:hover,
.btn-menu ul li a:focus {
  color: $go-green;
}

@media screen and (max-width: 65.1em) {
  .btn-menu ul li a {
    font-size: 90%;
  }
}

@media screen and (max-width: 55.5em) {
  .btn-menu ul li {
    margin: 0 15px;
  }

  .btn-menu ul li a {
    font-size: 0px;
  }

  .btn-menu ul li a:before {
    display: block;
  }
}

@media screen and (max-width: 32em) {
  .btn-menu-trigger {
    width: 40px;
    margin-left: -20px;
  }

  .btn-menu ul li {
    margin: 0 2%;
  }

  .btn-menu ul li:nth-child(3) {
    margin-right: 50px;
  }

  .btn-menu ul li:nth-child(4) {
    margin-left: 50px;
  }

  .btn-menu ul li a:before {
    font-size: 24px;
  }
}
