@import 'mixins';
@import 'color_chart';

.opponent-forms {
  @include default_forms;
}


.form-pointer-default {
  content: ' ';
  border: 25px solid;
  width: 0px;
  margin: 0 0 -16px 70px;
  border-color: #FFF transparent transparent transparent;
  -ms-transform:rotate(180deg); /* IE 9 */
  -webkit-transform:rotate(180deg); /* Opera, Chrome, and Safari */
  transform:rotate(180deg);
  position: relative;
  z-index: 2;
  margin-top: -23px;
}


