@import 'mixins';
@import 'color_chart';

.opponent-forms {
  @include default_forms;
}

/* Form Interior */
div.input-box-1 {
  /*border: 1px solid #F00;*/
  float: left;
  margin-right: 20px;
}

.form-pointer-default {
  content: ' ';
  border: 25px solid;
  width: 0px;
  margin: 0 0 -16px 70px;
  border-color: #FFF transparent transparent transparent;
  -ms-transform:rotate(180deg); /* IE 9 */
  -webkit-transform:rotate(180deg); /* Opera, Chrome, and Safari */
  transform:rotate(180deg);
  position: relative;
  z-index: 2;
  margin-top: -23px;
}

/* DISPLAY OPPONENT */

div.location-container {
  /*TODO: Decide?;*/
  /*@include box_inset;*/
  float: left;
  width: 340px;
  margin: 35px;
  margin-top: 0px;
  text-align: center;
  height: 325px;
}

div.additional-info {
  border: 1px solid $go-green-minus10;
  height: 127px;
  overflow: scroll;
  text-align: initial;
  padding: 5px;
}

#map {
  float: left;
  width: 450px;
  height: 325px;
  padding: 8px;
  margin-top: 4px;
  border: 1px solid $go-green-minus10;
}

.map-box {
  @include form_shadow;
}



