@import 'mixins';
@import 'color_chart';

div.form-wrapper {
  margin-top: 5px;
}

.schedule-manager-buffer {
  margin-top: -262px;
}

div#schedule-controls {
  padding: 10px;
  margin-bottom: -20px;
}

#add-practice, #add-game {
  margin-bottom: 20px;
  cursor: pointer;
}

form.schedule-forms {
  width: 250px;
  height: 238px;
  background-color: #FFF;
  padding: 20px;
  position: relative;
  z-index: 1;
  @include form_shadow;
}

.form-pointer {
  content: ' ';
  border: 20px solid;
  width: 0px;
  margin: 0 0 -1px 15px;
  border-color: #FFF transparent transparent transparent;
  -ms-transform:rotate(180deg); /* IE 9 */
  -webkit-transform:rotate(180deg); /* Opera, Chrome, and Safari */
  transform:rotate(180deg);
  position: relative;
  z-index: 2;
  margin-top: -40px;
}

#submit-schedule {
  width: 250px;
  margin-left: -20px;
  margin-top: 15px;
  border: none;
  background-color: $go-green;
  height: 50px;
  color: #FFF;
  font-size: 1.3em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  padding: 5px;
  padding-top: 10px;
  position: relative;
  cursor: pointer;
}





