@import 'mixins';
@import 'color_chart';

.schedule-manager-buffer {
  margin-top: -262px;
}

div#schedule-controls {
  padding: 10px;
  margin-bottom: -20px;
}

#add-practice, #add-game {
  margin-bottom: 20px;
  cursor: pointer;
  position: relative;
  z-index: 20000;
}

form.schedule-forms {
  @include mini_forms;
}

#submit-schedule {
  width: 250px;
  margin-left: -20px;
  margin-top: 15px;
  border: none;
  background-color: $go-green;
  height: 50px;
  color: #FFF;
  font-size: 1.3em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  padding: 5px;
  padding-top: 10px;
  position: relative;
  cursor: pointer;
}

div.cal_events {
  font-size: 15px;
}





