/*////////////////////////////////////////////////////
/                 SITE WIDE STYLING                 /
//////////////////////////////////////////////////*/


body > .app_sign_in {
  float: right;
  border: 1px solid #999;
  padding: 10px;
}