/*////////////////////////////////////////////////////
/                 SITE WIDE STYLING                 /
//////////////////////////////////////////////////*/
@import 'color_chart';
@import 'mixins';
/*////////// Global ///////////*/

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
  background: url('gun_metal_@2X.png')
}


body  {
  font-family: 'Raleway', sans-serif;

}

body > div.app-container {
  margin: 0 auto !important;
}

body > div > header {
  margin-left: 100px;
  margin-top: -70px;
}

#app-content {
}

#bottom-branding {
  margin-left: -5px;
}

#get-help-flag {
  margin-top: -75px;
  width: 70px;
  opacity: 0;
}

h1, h2, h3, h4, h5 {
  color: $base-text;
}

.no-display {
  display: none !important;
}

.app_sign_in {
  float: right;
  border: 1px solid #FFF;
  padding: 10px;
  color: #FFF;
  margin-top: -30px;
  a {
    color: $base-text;
  }
}

#flash_messages {
  width: 100%;
  text-align: center;
  margin-bottom: 55px;
  display: inline-block;
  color: #FFF;
  font-size: 20px;
  letter-spacing: 2px;
  @include hr_fade_notice;
  @include letter_shadow;
}

/*main content area position*/
#main {
  padding-left: 130px;
}

