/*////////////////////////////////////////////////////
/                 SITE WIDE STYLING                 /
//////////////////////////////////////////////////*/

@import 'color_chart';
@import 'mixins';

/*////////// Global ///////////*/

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Raleway:400,300,700|Syncopate:700);
@font-face {
  font-family: 'codropsicons';
  src:url('../fonts/codropsicons/codropsicons.eot');
  src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
    url('../fonts/codropsicons/codropsicons.woff') format('woff'),
    url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
    url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {

}

body  {
  font-family: 'Raleway', sans-serif;
  background: url('light_noise_diagonal.png');
  p{
    color: $base-text;
    color: $steel;
  }
}

body > div.app-container {
  /*margin: 0 auto !important;*/
  /*padding-left: 215px;*/
}

body > div > header {
  margin-left: 100px;
  margin-top: -70px;
}

.bigger-text {
  font-size: 20px;
}

div.todays_date {
  width: 100px;
  float: right;
}

img.logo-frame {
  border: 5px solid #FFF;
  box-shadow: 0px 0px 5px $steel-light-20;
}

/*FORMS*/

.default-submit-button {
  @include default_submit_button;
}

html body.denied-403 {
  background: url('images/baby-crying.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div.app_nav_bar {
  margin-bottom: 10px;
  position: fixed;
  width: 100%;
  @include nav_shadow;
}

#app-content {
  /*width: 985px;*/
  /*margin: 0 auto;*/
  /*margin-top: -15px;*/
  /*border: 1px solid red;*/
  padding-top: 70px;
}

div#notice {
  margin-bottom: 13px;
}

.line-separation {
  border-top: 1px solid #FFF;
  box-shadow: 0px -2px 8px #999;
}

/*old*/
.power-line-separator {
  border-top: 1px solid #FFF;
  padding-bottom: 25px;
  margin-top: 25px;
}

/*new*/
.power-line-separator-thick {
  border-top: 1px solid #FFF;
  margin-top: 25px;
  padding-bottom: 10px;
  box-shadow: 0px 3px 7px #BBB;
}

#bottom-branding {
  margin-left: -5px;
}

#get-help-flag {
  margin-top: -75px;
  width: 70px;
  opacity: 0;
  z-index: 10000;
  div.blurb {
    position: relative;
    width: 90px;
    left: -18px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
  }
}

h1, h2, h3, h4, h5 {
  font-family: 'Raleway', sans-serif;
  color: $steel-light-10;
}

h3.stat-bar-title {
  position: relative;
  top: -50px;
  z-index: 1;
  font-size: 3em;
  margin-bottom: -70px;
  padding: 20px;
}

.yes-display {
  display: block;
}

.white-out {
  background-color: #FFF;
}

#app_sign_in {
  border-bottom: 1px solid red;
  float: right;
  width: 120px;
  /*margin-right: -200px;*/
  /*margin-top: -45px;*/
  font-size: 10px;
  a {
    float: left;
    margin: 0;
    color: $base-text;
    &:hover {
      color: $go-green;
    }
  }
}

#flash_messages {
  width: 100%;
  position: relative;
  text-align: center;
  margin-bottom: -8px;
  display: inline-block;
  color: #FFF;
  font-size: 20px;
  letter-spacing: 2px;
  z-index: 1;
  .notice {
    @include hr_fade_notice;
  }
  .error {
    @include hr_fade_error;
  }
}

/*main content area position*/
#main {
  /*padding-left: 130px;*/
}

div.fat-call-to-action {
  width: 300px;
  height: 80px;
  padding: 23px;
  background: #FFA500;
  margin-bottom: 15px;
  cursor: pointer;
  display: inline-block;
  a {
    color: #FFF;
    text-decoration: none;
    font-size: 1.2em;
    @include letter_shadow;
  }
}

div.show-box {
  width: 400px;
  margin: 10px;
  float: left;
  box-shadow: 0px 0px 9px #999;
  padding: 10px;
  text-align: center;
}


/* FORMS */

div.form-template {
  @include default_forms;
}

div.form-contents {
  font-size: 20px;
}



