/*////////////////////////////////////////////////////
/                   TEAM STYLE                      /
//////////////////////////////////////////////////*/
@import 'color_chart';
@import 'mixins';

#currentTeam {
  img {
    border: 1px solid #AAA;
  }
  .teamBanner {
    text-align: center
  }
}

.center {
   width: 300px;
   height: 300px;
   position: absolute;
   left: 50%;
   margin-left: -150px;
}

li > a#tm-player-button {
  cursor: pointer;
}

.team-action-sublist,
.player-action-sublist {
  color: $steel;
  background-color: $steel-light-40;
  a {
    display: block;
    text-align: right;
    text-transform: lowercase !important;
    font-size: 16px !important;
    letter-spacing: 3px;
  }
}

#createTeamButton {
  position: relative;
  top: 100px;
  margin-left: 188px;
}

.teamBrand {
  cursor: pointer;
}

/*For "regroup" of team/player button*/
.conceal-players {
  position: relative;
  padding: 20px 0;
  margin: 0 auto 15px -210px;
}

.back {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
  border-radius: 50%;
  text-align: center;
  line-height: 38px;
  color: #999;
  background: #ddd;
  cursor: pointer;
  display: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.no-touch .back:hover {
  background-color: $go-green;
  color: #FFF;
}


/* TEAMS INDEX Director Perspective */

div.first-time-intructions {
  text-align: center;
}

#all-teams,
#all-divisions,
#all-opponents,
#user-content {
  @include default_panel;
  @include translucent_border;
  border: 20px solid rgba(73, 85, 95, 0.1);
  width: 950px;
}

#all-teams > div.stat-bar,
#all-divisions > div.stat-bar,
#user-content > div.stat-bar,
#all-opponents > div.stat-bar {
  background-color: $steel-light-40;
  position: relative;
  top: 1px;
  padding: 5px;
  padding-top: 16px;
  margin-bottom: 10px;
  cursor: pointer;
  #plus-minus1, #plus-minus2 {
    font-size: 100px;
    float: right;
    margin-top: -110px;
    height: 0px;
    color: $steel-light-on-dark-60;
    @include letter_shadow;
  }
  #plus-minus2 {
    margin-top: -90px;
  }
  a {
    position: relative;
    top: -20px;
    left: 400px;
  }
}

div#team-counter {
  /*@include box_inset;*/
  position: relative;
  top: -40px;
  left: 400px;
  width: 250px;
  padding: 10px;
  margin-bottom: -32px;
  color: $steel-light-on-dark-60;
}

.stat-bar-title {
  width: 400px;
  color: $steel-light-on-dark-60;
}

div.team_pod {
  float: left;
  width: 210px;
  height: 255px;
  background-color: #FFF;
  background: url('uniondale knight.png') no-repeat center center;
  background-size: 125px;
  margin: 8px;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  border: 20px solid #FF0;
  box-shadow: 0px 0px 9px #999;
}

div.inner_team_pod {
  box-shadow: inset 0px 0px 7px #999;
  width: 179px;
  padding: 14px;
  padding-top: 0px;
  margin: -15px;
  margin-left: -19px;
  height: 215px;
}

.pod_title {
  background-color: rgba(0, 0, 0, 0.3);
  color: #FFF;
  width: 177px;
  margin-left: -13px;
  padding: 0 10px;
}

.team_pod_controls {
  margin-top: 100px;
  padding: 0px 12px;
}

#add-team-button {
  cursor: pointer;
}

div.division-list-panel {
  padding-left: 15px;
}

div.division-pod {
}

a.delete-division-pod {
  cursor: pointer;
}

/*Team Show Page*/

div.team-info-box {
  @include default_panel;
  padding: 25px;
  width: 320px;
  text-align: center;
}

div.team-view {
  margin-top: 175px;
}


