.red_border {
  border: 1px solid red;
}

#team_template {
  float: right;
  width: 600px;
  height: 400px;
  background-color: orange;
}

.playerShell {
  float: left;
  width: 100px;
  height: 170px;
  background-color: #FFF;
  border: 1px solid red;
  margin: 10px;
}