.red_border {
  border: 1px solid red;
}

#teamTemplate {
  float: right;
  width: 600px;
  min-height: 400px;
  background-color: orange;
}

.playerPlaceHolder {
  float: left;
  width: 100px;
  height: 170px;
  background-color: #FFF;
  margin: 10px;
  display: inline-block;
  cursor: pointer;
}

#newTeamButton,
#addNewPlayerButton,
#create_team_button {
  border: 2px solid #999;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 10px;
}

form#create_new_team {
  width: 180px;
  border: 1px solid #999;
}

#created_team {
  float: right;
  margin-top: -350px;
}

%section.sideControls {
  float: left;
  width: 190px;
}





