/*////////////////////////////////////////////////////
/                   USER STYLE                      /
//////////////////////////////////////////////////*/

#user-content {
  float: left;
  width: 1010px;
  margin-left: 20px;
  border: 1px solid red;
}

.user-section {
  border: 1px solid #00F;
  margin: 5px;
  width: 490px;
  float: left;
  height: 245px;
}

header#coaches {
  border: 1px solid #F00;
}

#coaches-grid > .coach-tile {
  float: left;
  width: 100px;
  height: 100px;
  margin: 10px;
  border: 1px solid #F00;
}