/*////////////////////////////////////////////////////
/                   USER STYLE                      /
//////////////////////////////////////////////////*/

@import 'mixins';


#user-content {
  margin-left: 10px;
  height: 450px;
  overflow: scroll;
}

.user-section {
  @include default_panel;
  margin: 5px;
  width: 425px;
  float: left;
  height: 220px;
  overflow: scroll;
}

header#coaches,
header#staff {
  @include nav_shadow;
}

div.inner-content {
  padding-left: 20px;
}

#coach-invite-button, #staff-invite-button  {
  margin: 10px;
}

#coaches-grid > .coach-tile,
#staff-grid > .staff-tile {
  float: left;
  width: 100px;
  height: 100px;
  margin: 10px;
  border: 1px solid #999;
  cursor: pointer;
}

div#coach-invite-form,
div#staff-invite-form {
  background: #F7F7F7;
  margin-top: 5px;
  padding: 10px;
}