@import 'color_chart';
@import 'mixins';


div.sign_up_buffer {
  margin-top: 365px;
}

/*form#general_sign_up_form {
  position: relative;
  z-index: 100;
}*/

a.general_user_sign_up_btn {
  cursor: pointer;
}

#carousel_view {
  position: relative;
  z-index: 2;
}

div.avgrund-popin {
  height: 400px !important;
}

.avgrund-active .avgrund-popin {
  border-top: 10px solid $go-green;

}

