@import 'color_chart';
@import 'mixins';


div.sign_up_buffer {
  margin-top: 365px;
}

div.website-banner {
  width: 100%;
  padding: 20px;
  padding-top: 85px;
  background-color: $go-green;
}

h1.massive-banner {
  font-family: 'Syncopate', sans-serif;
  font-size: 5em;
  text-align: center;
  color: $go-green-30;
  letter-spacing: 5px;
}

div.website-welcome {
  text-align: center;
  font-size: 36px;
  padding: 5px;
  color: $steel-light-30;
}

.page-header {
  padding: 0px;
  margin: 0px;
  border: none;
}

div.inner-player-form {
  padding-top: 15px !important;
}

div#search-players {
  height: 225px;
}

div.show-teams-list {
  border: 1px solid #999;
  padding: 20px;
  margin-top: 20px;
}

div.navbar-header h1 {
  text-align: center;
}

ul#ui-id-1 {
  z-index: 4000;
  width: 400px;
  margin-top: -200px;
}

a.general_user_sign_up_btn {
  @include translucent_border;
  border: 5px solid #B2BBC6;
  cursor: pointer;
  display: inline-block;
  margin: 15px;
  width: 350px;
  height: 250px;
  background-color: $steel-light-40;
  color: #FFF;
  text-align: center;
  padding: 10px;
  font-size: 35px;
}

div.sign-up-text {
  font-family: 'Syncopate', sans-serif;
  margin-top: 40px;
}

#carousel_view {
  position: relative;
  z-index: 2;
}

div.avgrund-popin {
  height: 360px !important;
}

button.new-registr {
  background-image: image-url('youth-football-heisman.png');
  background-repeat: no-repeat;
  background-size: 100%;
  @include default_button_panel;
}

button.veteran-registr {
  background-image: image-url('youth-football-trenches.png');
  background-repeat: no-repeat;
  background-size: 135%;
  @include default_button_panel;
}


h1.or-separator {
  float: left;
  margin-left: 16px;
  padding-top: 77px;
}

div.registration-controls {
  font-size: 30px;
  .panel-name {
    margin-bottom: 10px;
  }
}

div.registration-action {
  width: 300px;
  float: left;
}

div.rookie, div.veteran {
  position: relative;
  width: 235px;
  left: 45px;
  font-size: 18px;
}

.avgrund-active .avgrund-popin {
  border-top: 10px solid $go-green;
}

.team-bucket {
  cursor: pointer;
  border: 5px solid #FFF;
  display: inline-block;
  margin: 15px;
  width: 350px;
  height: 250px;
  background-color: $steel-light-40;
  color: #FFF;
  text-align: center;
  padding: 10px;
  font-size: 35px;
  @include translucent_border;
}


/* TEAM DASHBOARD */


.team-dashboard-title {
  font-family: 'Syncopate', sans-serif;
  text-align: center;
  font-size: 30px;
}

.minimal-access {
  float: left;
  width: 700px;
  border: 1px solid $steel-light-40;
  margin-left: 20px;
  text-align: center;
  padding-bottom: 30px;
  color: $steel-light-30;
  background-color: $steel-light-65;
  .header {
    width: 100%;
    color: #EDEFF1;
    position: relative;
    font-size: 3em;
    background-color: $steel-light-40;
    border-bottom: 1px solid rgba(255, 255, 255, .8);
  }
}

.parent-account-panel {
  width: 300px;
  min-height: 500px;
  float: left;
  background-color: #FFF;
  @include light_box_shadow;
}

.message_panel_header, .make-payment-header,
.account_panel_header {
  height: 40px;
  background-color: $steel-light-40;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
  padding-top: 8px;
  font-size: 1.3em;
}

.make-payment-header {
  margin-top: 50px;
}

.message_panel {
  height: 200px;
}

.account_panel {
  .view-payments-controls {
    float: left;
    width: 105px;
    min-height: 50px;
    padding: 5px;
  }
  .view-payment-details {
    margin-left: 115px;
  }
  .current-status {
    float: left;
    border-left: 1px solid #DDD;
    width: 185px;
    min-height: 50px;
    padding: 5px;
    font-size: 1.2em;
  }
  .payment-panel {
    float: left;
    width: 300px;
    min-height: 50px;
    padding: 5px;
  }
}

.season-header {
  text-align: center;
  background-color: $go-green;
  color: white;
  font-size: 1.3em;
  padding: 3px;
  letter-spacing: 7px;
}

.player-view_master {
  padding: 30px;
  float: left;
  width: 750px;
  margin: 0px 20px;
  background-color: #fff;
  @include light_box_shadow;
}

section.team_calendar_view {
  float: left;
  width: 750px;
  margin: 20px;
  padding: 20px 20px 0px 20px;
  background-color: #fff;
  @include light_box_shadow;
}

div.avgrund-popin.web-registered-player {
  height: 420px !important;
}



