@import 'color_chart';
@import 'mixins';


div.sign_up_buffer {
  margin-top: 365px;
}

div.inner-player-form {
  padding-top: 15px !important;
}

div#search-players {
  height: 225px;
}

div.show-teams-list {
  border: 1px solid #999;
  padding: 20px;
  margin-top: 20px;
}
/*form#general_sign_up_form {
  position: relative;
  z-index: 100;
}*/

ul#ui-id-1 {
  z-index: 4000;
  width: 400px;
  margin-top: -200px;
}

a.general_user_sign_up_btn {
  cursor: pointer;
}

#carousel_view {
  position: relative;
  z-index: 2;
}

div.avgrund-popin {
  height: 475px !important;
}

.register_player_form {

}

.avgrund-active .avgrund-popin {
  border-top: 10px solid $go-green;
}

/* TEAM DASHBOARD */

.control-panel {
  width: 300px;
  min-height: 500px;
  float: left;
  background-color: #FFF;
  margin-left: -200px;
  @include light_box_shadow;
}

.message_panel_header, .account_panel_header {
  height: 40px;
  background-color: #999;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
  padding-top: 8px;
  font-size: 1.3em;
}

.message_panel {
  height: 200px;
}


