%nav#btn-menu.btn-menu
  %a.btn-menu-trigger{}
    #get-help-flag
      = image_tag('mock_logo.png', size: "65", id: "bottom-branding")
      .blurb get help
    %span Menu

  %ul
    %li
      = link_to "About", about_path
    %li
      = link_to "Features", features_path
    %li
      = link_to "other", features_path
    %li
      %a{href: "http://www.youtube.com", target: "_blank"} Video help
    %li
      %a{href: "http://www.google.com", target: "_blank"} Help
    %li
      %a{href: "http://www.google.com", target: "_blank"} Contact