%nav#btn-menu.btn-menu
  %a.btn-menu-trigger{}
    %span Menu
  %ul
    %li
      %a{href: "http://www.google.com", target: "_blank"}
        %img{alt: "Mock logo", height: "65", src: "/assets/mock_logo.png", width: "65"}
    %li
      %a{href: "http://www.google.com", target: "_blank"} About
    %li
      %a{href: "http://www.google.com", target: "_blank"} Features
    %li
      %a{href: "http://www.google.com", target: "_blank"} Blog
    %li
      %a{href: "http://www.google.com", target: "_blank"} Help
    %li
      %a{href: "http://www.google.com", target: "_blank"} Contact