.nav
  = link_to_unless_current "home", root_path
  |
  = link_to_unless_current "about", about_path
  |
  = link_to_unless_current "faq", faq_path
  |
  = link_to_unless_current "contact us", contact_path