%nav.navbar
  .container-fluid
  - if current_user.program_id.nil?
    .navbar-header
      %header.navbar-title
        .program-brand-bar
          %p Dashboard
          / Show no Logo
        %h3
          = "Your team name will go here"
          %span

  - else
    .navbar-header
      %header.navbar-title
        .program-brand-bar
          %p Dashboard
          =# display_team_logo(:mini)
        %h1
          = display_team_title
          = show_sign_out_link_if_signed_in
