%nav.navbar.navbar-default{role: "navigation"}
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
      %header.navbar-title
        .navbar-brand
          = image_tag('uniondale knight.png', alt: 'team logo', size: '50x50')
        %h3
          =# "#{@current_user.username.titleize}'s Coaching Dashboard"

        = render 'layouts/user_access_controls'
