/ TODO: check if coach signed in?
%nav.navbar.navbar-default{role: "navigation"}
  .container-fluid
    .navbar-header
    .website-welcome
      = "Welcome to the Home of the"

  = show_sign_out_link_if_signed_in


