.nav-bar
  #bt-menu.bt-menu
    %a.bt-menu-trigger{href: "#"}
      %p Menu
      %span Menu
    %ul
      %li
        = link_to_unless_current "team manager", '#'
      %li
        = link_to_unless_current "schedule manager", '#'
      %li
        = link_to_unless_current "office manager", '#'
      %li
        = link_to_unless_current "coaches' corner", '#'



