%ul.navbar-nav.navbar-right#acct-actions
  %li.dropdown
    %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#", id: 'acct-action-symbol'}
      %i.fa.fa-gear.setup-gear.fa-3x
    %ul.dropdown-menu{role: "menu", id: 'acct-menu' }
      %li
        = render 'devise/login'
      %li
        = render 'devise/registration'



