/ TODO: check if coach signed in?
%nav.navbar.navbar-default{role: "navigation"}
  .container-fluid
    .navbar-header
      %h1
        = "Welcome to the #{@name} Website"

  = show_sign_out_if_signed_in


